<!-- 获取设置项：是否开启显示文章位置 -->
{%- include snippets/assign.html
  target=site.data.variables.default.page.show_article_position
  source0=layout.show_article_position source1=include.article.show_article_position -%}
{%- assign _show_article_position = __return -%}

{% if _show_article_position %}
  <!-- 获取页面网址 -->
  {%- assign _article_url = include.article_url -%}

  {% comment %}获取导航栏分类{% endcomment %}
  {% for _head_cat in site.data.navigation.header %}
    {% if _article_url contains _head_cat.url %}
      {% assign _cat0 = _head_cat.titles.zh %}
      {%- include snippets/get-nav-url.html path=_head_cat.url -%}
      {%- assign _cat0_url = __return -%}
    {% endif %}
  {% endfor %}

  <!-- 获取当前侧边栏分类 -->
  {% assign _side_cats = _article_url | split: "/" %}
  {% assign _side_cat = _side_cats[2] %}
  {% for _side_bar in site.data.navigation[_side_cat] %}
    {% comment %}获取二级分类{% endcomment %}
    {% if _article_url contains _side_bar.url %}
      {% assign _cat1 = _side_bar.title %}
      {%- include snippets/get-nav-url.html path=_side_bar.url -%}
      {%- assign _cat1_url = __return -%}
    {% endif %}

    {% comment %}获取三级分类{% endcomment %}
    {% if _side_bar.children %}
      {% for _side_bar_child in _side_bar.children %}
        {% if _article_url contains _side_bar_child.url %}
          {% assign _cat2 = _side_bar_child.title %}
          {%- include snippets/get-nav-url.html path=_side_bar_child.url -%}
          {% assign _cat2_url = __return %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  <ul class="left-col menu">
    {% if _cat0 %}
      <li>位置：</li>
      <li>
        <a class="button button--secondary button--pill button--sm"
           href="{{ _cat0_url }}">{{ _cat0 }}</a>
      </li>
    {% endif %}

    {% if _cat1 %}
      <li>></li>
      <li>
        <a class="button button--secondary button--pill button--sm"
           href="{{ _cat1_url }}">{{ _cat1 }}</a>
      </li>
    {% endif %}

    {% if _cat2 %}
      <li>></li>
      <li>
        <a class="button button--secondary button--pill button--sm"
           href="{{ _cat2_url }}">{{ _cat2 }}</a>
      </li>
    {% endif %}
    
  </ul>

<!--  为防止路径过短问题，每生成一次，重置一下变量 -->
  {% assign _cat0 = false %}
  {% assign _cat1 = false %}
  {% assign _cat2 = false %}
{% endif %}
